body {
    background-image: url('111.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#outside {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    max-width: 800px;
    max-height: 200px;
    width: 100%;
    flex: 1;
    
}

#main {
    display: flex;
    aspect-ratio: 1 / 1;
    max-width: 800px;
    max-height: 200px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#gali {
    flex: 0;
}
 