body {
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#outside {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    max-width: 600px;
    max-height: 200px;
    width: 100%;    
}
 