body {
    background-color: gray;
}

#outside {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    max-width: 550px;
    max-height: 200px;
    width: 100%;
    border: 1px solid black;
}
 